nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6511a;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-style: inset;
  border-width: 3px;
  border-color: #168400;
  margin-top: -20px;
}

nav a {
  text-decoration: none;
  color: #23401d;
  padding: 8px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  width: 33%;
  text-align: center;
  border-top: 0px;
  border-radius: 5px /*5px 50% 50%*/;
  border-style: solid;
  border-color: #23401d;
  border-width: 2px 2px 0 2px;
}

nav a.two{
  border-radius: /*50% 50% 5px*/ 5px;
  border-width: 0 2px 2px 2px;
}

nav a:hover {
  background-color: #23401d;
  color: #e6511a;
  /*border-color: white ;*/
}

nav a.active {
  background-color: #23401d;
  color: #e6511a;
}

/* Responsive design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    margin: 5px 0;
  }
}
