.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h1 {
    font-size: 2rem;
    color: #23401d;
    text-align: center;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #23401d;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c6a162;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #23401d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #c6a162;
  }
  